{
  "$schema": "https://raw.githubusercontent.com/LGUG2Z/komorebi/v0.1.41/schema.json",
  "app_specific_configuration_path": "$Env:USERPROFILE/applications.json",
  "window_hiding_behaviour": "Cloak",
  "cross_monitor_move_behaviour": "Insert",
  "default_workspace_padding": 20,
  "default_container_padding": 20,
  "border": true,
  "border_width": 3,
  "border_offset": -1,
  "bar_configurations": [
    "{{ .chezmoi.homeDir }}/komorebi.bar.json"
  ],
  "theme": {
    "palette": "Base16",
    "name": "Ashes",
    "unfocused_border": "Base03",
    "bar_accent": "Base0D"
  },
  "transparency": true,
  "transparency_alpha": 220,
  "monitors": [
    {
      "workspaces": [
        {
          "name": "👻 Ghostty",
          "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "WindowsTerminal.exe", "matching_strategy": "Equals" }
          ]
        },
        {
          "name": "💻 Code",
          "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "Code.exe", "matching_strategy": "Equals" }
          ]
        },
        {
          "name": " Chrome",
          "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "chrome.exe", "matching_strategy": "Equals" }
          ]
        },
        { "name": "💬 Chat", "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "WeChat.exe", "matching_strategy": "Equals" },
            { "kind": "Exe", "id": "Feishu.exe", "matching_strategy": "Equals" }
          ]
        },
        { "name": "🔧 Tool", "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "KeePassXC.exe", "matching_strategy": "Equals" },
            { "kind": "Exe", "id": "Clash Verge.exe", "matching_strategy": "Equals" },
            { "kind": "Exe", "id": "cc-switch.exe", "matching_strategy": "Equals" },
            { "kind": "Exe", "id": "UGit.exe", "matching_strategy": "Equals" },
            { "kind": "Exe", "id": "rider64.exe", "matching_strategy": "Equals" }
          ]
        },
        { "name": "🗃️ Files", "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "Files.exe", "matching_strategy": "Equals" }
          ]
        },
        { "name": "📚 Obsidian", "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "Obsidian.exe", "matching_strategy": "Equals" }
          ]
        },
        { "name": "📊 Excel", "layout": "BSP",
          "initial_workspace_rules": [
            { "kind": "Exe", "id": "Hearthstone.exe", "matching_strategy": "Equals" }
          ]
        }
      ]
    }
  ]
}
