[Desktop Entry]
Name=RedisInsight
Exec=/usr/bin/RedisInsight
Type=Application
Categories=Development
Icon=/usr/share/icons/Papirus/128x128/apps/RedisInsight.svg
